@page "/carrinho"
@inject ICarrinhoService carrinhoService
@inject IPedidoService pedidoService
@inject NavigationManager navigation

<PageTitle>Carrinho</PageTitle>

<h3>Carrinho</h3>

@if (produtosCarrinho == null || produtosCarrinho.Count == 0)
{
    <span>@mensagem</span>
}
else
{
    <div>
        @foreach (var produto in produtosCarrinho)
        {
            <div class="container">
                <div class="image-wrapper">
                    <img src="@produto.UrlImagem" class="image" />
                </div>
                <div class="name">
                    <h5><a href="/produto/@produto.ProdutoId">@produto.Nome</a></h5>
                    <span>@produto.TipoProduto</span><br>
                    <input type="number" 
                        value="@produto.Quantidade" 
                        @onchange="@((ChangeEventArgs e) => AtualizarQuantidade(e, produto))" 
                        class="form-control input-quantity" 
                        min="1"
                    />
                    <button class="btn-delete" @onclick="(() => RemoverProduto(produto.ProdutoId, produto.TipoProdutoId))">
                        Remover
                    </button>
                </div>
                <div class="cart-product-price">
                    R$ @(produto.Preco * produto.Quantidade)
                </div>
            </div>
        }

        <div class="cart-product-price">
            Total (@produtosCarrinho.Count): R$@produtosCarrinho.Sum(p => p.Preco * p.Quantidade)
        </div>
    </div>

    <button @onclick="CriarPedido" class="btn btn-success float-end mt-1">Finalizar Pedido</button>
}

@code {
    List<CarrinhoProdutoResponse> produtosCarrinho = null;
    string mensagem = "Carregando carrinho...";

    protected override async Task OnInitializedAsync()
    {
        await CarregarCarrinho();
    }

    private async Task RemoverProduto(int produtoId, int tipoProdutoId)
    {
        await carrinhoService.RemoverItemCarrinho(produtoId, tipoProdutoId);
        await CarregarCarrinho();
    }

    private async Task CarregarCarrinho()
    {
        await carrinhoService.GetQuantidadeItens();
        produtosCarrinho = await carrinhoService.GetProdutosCarrinho();

        if (produtosCarrinho == null || produtosCarrinho.Count == 0)
        {
            mensagem = "Seu Carrinho está vazio!";
        }
    }

    private async Task AtualizarQuantidade(ChangeEventArgs e, CarrinhoProdutoResponse produto)
    {
        produto.Quantidade = int.Parse(e.Value.ToString());

        if (produto.Quantidade < 1)
            produto.Quantidade = 1;

        await carrinhoService.AtualizarQuantidade(produto);
    }

    private async Task CriarPedido()
    {
        string url = await pedidoService.CriarPedido();
        navigation.NavigateTo(url);
    }
}
