@page "/produto/{id:int}"
@inject IProdutoService produtoService

@if (produto == null)
{
    <span>@mensagem</span>
}
else
{
    <div class="media">
        <div class="media-img-wrapper mr-2">
            <img class="media-img" src="@produto.UrlImagem" alt="@produto.Nome" />
        </div>
        <div class="media-body">
            <h2 class="mb-0">@produto.Nome</h2>
            <p>@produto.Descricao</p>
            @* <h4 class="price">R$ @produto.Preco</h4> *@
        </div>
    </div>
}

@code {
    private Produto? produto = null;
    private string mensagem = string.Empty;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        mensagem = "Carregando Produto...";
        var resultado = await produtoService.GetProduto(Id);
        if (!resultado.Success)
        {
            mensagem = resultado.Message;
        }
        else
        {
            produto = resultado.Data;
        }
    }
}
